In [6]:
import pqr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

# Выгрузка исходных данных для построения стратегии или модели

In [7]:
import requests

voluminous_stocks_tickers = requests.get(
    "https://github.com/aalitvinov/ITfF_tomtosov/raw/main/hw_data/voluminous_stocks_tickers.json"
).json()

In [8]:
from datetime import datetime

start = datetime(2008, 1, 1)
end = datetime(2022, 5, 1)

In [55]:
try:
    voluminous_stocks_yf = pd.read_csv(
        "./hw_data/voluminous_stocks_yf.csv.xz",
        compression="xz",
        header=[0, 1],
        index_col=[0, 1],
    )
except FileNotFoundError:
    voluminous_stocks_yf: pd.DataFrame = (
        yf.download(
            tickers=voluminous_stocks_tickers,
            interval="1d",
            start=start,
            end=end,
            group_by="column",
            progress=True,
            show_errors=False,
        )
        .loc[:, ["Adj Close", "Volume"]]
        .rename({"Adj Close": "adj_close", "Volume": "volume"}, axis=1)
    )
    voluminous_stocks_yf.to_csv(
        "./hw_data/voluminous_stocks_yf.csv.xz", compression="xz", index=True
    )

[*********************100%***********************]  200 of 200 completed

In [58]:
voluminous_stocks_yf.head()

                     adj_close                                             \
                            AA        AAL       AAPL       ABBV      ABEV
Date
2019-04-18 00:00:00  26.358837  33.915295  49.325840  64.328300  3.760329
2019-04-22 00:00:00  27.822117  33.037067  49.487938  64.809288  3.820701
2019-04-23 00:00:00  28.207712  33.520588  50.201729  65.232231  3.881073
2019-04-24 00:00:00  27.802343  33.540321  50.124306  65.240532  3.837950
2019-04-25 00:00:00  26.803751  32.967991  49.669418  65.796135  3.984568

                                                                           \
                           ABT        AFL        AIG       AIV       AMAT
Date
2019-04-18 00:00:00  69.277443  44.319920  41.089413  4.561910  42.011482
2019-04-22 00:00:00  69.830391  43.993771  41.053699  4.492434  41.858532
2019-04-23 00:00:00  71.320526  44.310860  41.035854  4.577871  41.896767
2019-04-24 00:00:00  71.929695  44.292740  40.821663  4.621059  42.498978
2019-04-25 00:00:00  73.204285  44.555462  40.330803  4.618241  42.489418

                     ...   volume                                           \
                     ...     VXRT        VZ WLL      WMB      WMT      WPM
Date                 ...
2019-04-18 00:00:00  ...   907700  13189000 NaN  6097400  3727800  3175300
2019-04-22 00:00:00  ...  1207900  11950400 NaN  4138800  5079400  1466600
2019-04-23 00:00:00  ...   589300  23488700 NaN  5431600  5050800  1896600
2019-04-24 00:00:00  ...  2645000  13227100 NaN  4326300  4697800  2977800
2019-04-25 00:00:00  ...  3693400  17425500 NaN  4900200  3961100  1230200


                            X       XOM XSPA          ZM
Date
2019-04-18 00:00:00  11889100   9493900  NaN  25764700.0
2019-04-22 00:00:00  10015800  10770600  NaN   9949700.0
2019-04-23 00:00:00  11558800  10595100  NaN   6786500.0
2019-04-24 00:00:00   8454700  11684000  NaN   4973500.0
2019-04-25 00:00:00   9934000  11135000  NaN   3863300.0

[5 rows x 400 columns]

In [56]:
voluminous_stocks_yf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3609 entries, 2019-04-18 00:00:00 to 2019-04-17 00:00:00
Columns: 400 entries, ('adj_close', 'AA') to ('volume', 'ZM')
dtypes: float64(227), int64(173)
memory usage: 11.0+ MB

In [11]:
len(voluminous_stocks_tickers)

200

# Обработка финансовых данных

# Построение инвестиционной стратегии или финансовой модели

# Аналитика и визуализация результатов